/*
	Nome do projecto
	Author: Sérgio António
	Version: 0.0.1
*/
/*Base - Base style | variables | mixns | etc */
/* Modules - Individual site components */
/*o.v.*/
/* line 3, ../sass/modules/_components.scss */
#image-dropdown {
  /*style the "box" in its minimzed state*/
  border: 1px solid black;
  width: 200px;
  height: 50px;
  overflow: hidden;
  /*animate collapsing the dropdown from open to closed state (v. fast)*/
  -moz-transition: height 0.1s;
  -webkit-transition: height 0.1s;
  -ms-transition: height 0.1s;
  -o-transition: height 0.1s;
  transition: height 0.1s;
}

/* line 13, ../sass/modules/_components.scss */
#image-dropdown:hover {
  /*when expanded, the dropdown will get native means of scrolling*/
  height: 200px;
  overflow-y: scroll;
  /*nice and smooth expand - speed this up at your preference or remove animation altogether*/
  -moz-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}

/* line 23, ../sass/modules/_components.scss */
#image-dropdown input {
  /*hide the nasty default radio buttons. like, completely!*/
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* line 29, ../sass/modules/_components.scss */
#image-dropdown label {
  /*style the labels to look like dropdown options, kinda*/
  display: none;
  margin: 2px;
  height: 46px;
  opacity: 0.2;
  /*setting correct backgrounds - add additional rules with selectors based on "for" attribute, something like label[for=line2]{background-image:...}*/
  background: url("http://www.google.com/images/srpr/logo3w.png") 50% 50%;
}

/* line 34, ../sass/modules/_components.scss */
#image-dropdown:hover label {
  /*this is how labels render in the "expanded" state. we want to see only the selected radio button in the collapsed menu, and all of them when expanded*/
  display: block;
}

/* line 38, ../sass/modules/_components.scss */
#image-dropdown label:hover {
  opacity: 0.5;
}

/* line 41, ../sass/modules/_components.scss */
#image-dropdown input:checked + label {
  /*tricky! labels immediately following a checked radio button (with our markup they are semantically related) should be fully opaque regardless of hover, and they should always be visible (i.e. even in the collapsed menu*/
  opacity: 1 !important;
  display: block;
}

/*pfft, nothing as cool here, just the value trace*/
/* line 47, ../sass/modules/_components.scss */
#trace {
  margin: 0 0 20px;
}

/* line 4, ../sass/modules/_checkbox.scss */
#cutting_filter .certo, #head_filter .certo, #genre_criteria .certo {
  width: 28px;
  height: 28px;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  margin: 20px auto;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0);
  position: relative;
}
/* line 27, ../sass/modules/_checkbox.scss */
#cutting_filter .style_check, #head_filter .style_check, #genre_criteria .style_check {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 4px;
  top: 4px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0), 0px 1px 0px white;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0), 0px 1px 0px white;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(top, #222222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}
/* line 51, ../sass/modules/_checkbox.scss */
#cutting_filter .style_check:after, #head_filter .style_check:after, #genre_criteria .style_check:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 73, ../sass/modules/_checkbox.scss */
#cutting_filter .style_check:hover::after, #head_filter .style_check:hover::after, #genre_criteria .style_check:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
/* line 79, ../sass/modules/_checkbox.scss */
#cutting_filter .certo input[type=checkbox]:checked + .style_check:after, #head_filter .certo input[type=checkbox]:checked + .style_check:after, #genre_criteria .certo input[type=checkbox]:checked + .style_check:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* Layout - Page layout style */
/* ===========================
--- Intro
============================ */
/* line 4, ../sass/layout/_header.scss */
.about .intro {
  background: url(../bg/img/index/1.jpg) no-repeat top center;
  background-size: 100% auto;
}

/* line 9, ../sass/layout/_header.scss */
#intro {
  width: 100%;
  position: relative;
}
/* line 16, ../sass/layout/_header.scss */
#intro .page-scroll {
  text-align: center;
}
/* line 20, ../sass/layout/_header.scss */
#intro .slogan {
  text-align: center;
  z-index: 10000;
  padding: 20% 0 0 0;
}
/* line 25, ../sass/layout/_header.scss */
#intro .slogan h2 {
  color: #FBFF00;
  text-shadow: none;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  border-width: 0px;
  border-color: #000;
  border-style: none;
  text-shadow: -1px 0 1px black;
}
/* line 41, ../sass/layout/_header.scss */
#intro .slogan h4 {
  color: #FBFF00;
  text-shadow: -1px 1px 1px black;
}

/*#page-machine-61b .intro {
  background: url(../machines/img/61b/61b-1.jpg) no-repeat bottom center;
  background-size: auto 100%;
  background-color: #fff;
}*/
/* line 2, ../sass/layout/_nav.scss */
.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(234, 59, 59, 0);
  z-index: 999999;
  background-color: #23bcd4;
}
@media only screen and (min-width: 767px) {
  /* line 2, ../sass/layout/_nav.scss */
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    /*background: 0 0;
    background-color: rgba(35,188,212,.5);*/
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
}

/* line 23, ../sass/layout/_nav.scss */
.navbar-brand {
  font-weight: 700;
  height: 40px;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 1em;
}
/* line 30, ../sass/layout/_nav.scss */
.navbar-brand:focus {
  outline: 0;
}

/*.nav.navbar-nav {
    background-color: rgba(255,255,255,.4);
}*/
/* line 41, ../sass/layout/_nav.scss */
.nav-active {
  background-color: rgba(255, 255, 255, 0);
}

/* line 47, ../sass/layout/_nav.scss */
.navbar-custom.top-nav-collapse {
  @includ MQ(M) {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

}
/* line 49, ../sass/layout/_nav.scss */
.navbar-custom.top-nav-collapse .nav.navbar-nav {
  background-color: rgba(0, 0, 0, 0);
}
/* line 53, ../sass/layout/_nav.scss */
.navbar-custom.top-nav-collapse ul.nav li a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #fff;
}
/* line 60, ../sass/layout/_nav.scss */
.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
  color: #666;
}
/* line 69, ../sass/layout/_nav.scss */
.navbar-custom ul.nav li a {
  font-size: 12px;
  letter-spacing: 1px;
  color: #444;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 76, ../sass/layout/_nav.scss */
.navbar-custom ul.nav li a:hover {
  background: rgba(255, 255, 255, 0);
}
/* line 82, ../sass/layout/_nav.scss */
.navbar-custom ul.nav ul.dropdown-menu {
  border-radius: 0;
}
/* line 85, ../sass/layout/_nav.scss */
.navbar-custom ul.nav ul.dropdown-menu li {
  border-bottom: 1px solid #f5f5f5;
}
/* line 88, ../sass/layout/_nav.scss */
.navbar-custom ul.nav ul.dropdown-menu li:last-child {
  border-bottom: none;
}
/* line 92, ../sass/layout/_nav.scss */
.navbar-custom ul.nav ul.dropdown-menu li a {
  padding: 10px 20px;
  color: #000;
}
/* line 96, ../sass/layout/_nav.scss */
.navbar-custom ul.nav ul.dropdown-menu li a:hover {
  background: rgba(35, 188, 212, 0);
}
/* line 104, ../sass/layout/_nav.scss */
.navbar-custom nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
/* line 109, ../sass/layout/_nav.scss */
.navbar-custom nav li a:hover, .navbar-custom nav li a:focus, .navbar-custom nav li a .active {
  outline: 0;
  background-color: rgba(255, 255, 255, 0);
}
/* line 114, ../sass/layout/_nav.scss */
.navbar-custom nav li a:hover, .navbar-custom nav li a:focus, .navbar-custom nav li a .active {
  outline: 0;
  background-color: rgba(255, 255, 255, 0);
}

/* line 122, ../sass/layout/_nav.scss */
.navbar-toggle {
  padding: 4px 6px;
  font-size: 14px;
  color: #fff;
}
/* line 127, ../sass/layout/_nav.scss */
.navbar-toggle:focus, .navbar-toggle:active {
  outline: 0;
}

@media only screen and (min-width: 767px) {
  /* line 135, ../sass/layout/_nav.scss */
  .top-nav-collapse {
    padding: 0;
    background-color: #23bcd4;
  }
}
/*
Page machines - background top
*/
/* line 5, ../sass/layout/_page-machine.scss */
#page-machine .intro {
  background-size: auto 100%;
  background-color: #fff;
}

/* line 12, ../sass/layout/_page-machine.scss */
.pp06 {
  background: url(../machines/img/06/pp06-1.jpg) no-repeat bottom center;
}

/* line 13, ../sass/layout/_page-machine.scss */
.ct09 {
  background: url(../machines/img/09/ct09-1.jpg) no-repeat bottom center;
}

/* line 14, ../sass/layout/_page-machine.scss */
.mp12 {
  background: url(../machines/img/12/12-1.jpg) no-repeat bottom center;
}

/* line 15, ../sass/layout/_page-machine.scss */
.mp12a {
  background: url(../machines/img/12a/12a-1.jpg) no-repeat bottom center;
}

/* line 16, ../sass/layout/_page-machine.scss */
.tc16 {
  background: url(../machines/img/16/16-1.jpg) no-repeat bottom center;
}

/* line 17, ../sass/layout/_page-machine.scss */
.mp17 {
  background: url(../machines/img/17/17-1.jpg) no-repeat bottom center;
}

/* line 18, ../sass/layout/_page-machine.scss */
.mp17a {
  background: url(../machines/img/17a/17a-1.jpg) no-repeat bottom center;
}

/* line 19, ../sass/layout/_page-machine.scss */
.mp27atr {
  background: url(../machines/img/27a-tr/27atr-1.jpg) no-repeat bottom center;
}

/* line 20, ../sass/layout/_page-machine.scss */
.mp27a {
  background: url(../machines/img/27a/27a-1.jpg) no-repeat bottom center;
}

/* line 21, ../sass/layout/_page-machine.scss */
.mp34c {
  background: url(../machines/img/34/34c-1.jpg) no-repeat bottom center;
}

/* line 22, ../sass/layout/_page-machine.scss */
.mp61b {
  background: url(../machines/img/61b/61b-1.jpg) no-repeat bottom center;
}

/* line 24, ../sass/layout/_page-machine.scss */
#accordion {
  margin-top: 10px;
}
/* line 28, ../sass/layout/_page-machine.scss */
#accordion .panel-body {
  background-color: #d3d3d3;
}
/* line 32, ../sass/layout/_page-machine.scss */
#accordion .checkbox {
  padding-left: 0px;
}
/* line 35, ../sass/layout/_page-machine.scss */
#accordion .checkbox img {
  opacity: .4;
  z-index: 1;
}
/* line 39, ../sass/layout/_page-machine.scss */
#accordion .checkbox img:hover {
  opacity: .8;
}
/* line 43, ../sass/layout/_page-machine.scss */
#accordion .checkbox p {
  margin: 0;
  font-size: 11px;
  font-weight: bold;
  margin-top: -17px;
}
/* line 50, ../sass/layout/_page-machine.scss */
#accordion .checkbox input[type=checkbox]:checked + img {
  opacity: 1;
  border: 2px solid #23bcd4;
}
/* line 61, ../sass/layout/_page-machine.scss */
#accordion .checkbox:first-child {
  width: 154px;
}
/* line 65, ../sass/layout/_page-machine.scss */
#accordion .checkbox:first-child h5 {
  line-height: 28px;
  text-align: center;
}
/* line 70, ../sass/layout/_page-machine.scss */
#accordion input[type=checkbox] {
  visibility: hidden;
}

/* -------------------------------- 

Primary style

-------------------------------- */
/* line 9, ../sass/layout/_vertical-timeline.scss */
#about *, #about *:after, #about *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
/* line 21, ../sass/layout/_vertical-timeline.scss */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* line 27, ../sass/layout/_vertical-timeline.scss */
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* line 39, ../sass/layout/_vertical-timeline.scss */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}

/* line 45, ../sass/layout/_vertical-timeline.scss */
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}

@media only screen and (min-width: 1170px) {
  /* line 51, ../sass/layout/_vertical-timeline.scss */
  header {
    height: 300px;
    line-height: 300px;
  }

  /* line 55, ../sass/layout/_vertical-timeline.scss */
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
/* line 61, ../sass/layout/_vertical-timeline.scss */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 67, ../sass/layout/_vertical-timeline.scss */
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  /* line 78, ../sass/layout/_vertical-timeline.scss */
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  /* line 82, ../sass/layout/_vertical-timeline.scss */
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}
/* line 88, ../sass/layout/_vertical-timeline.scss */
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

/* line 92, ../sass/layout/_vertical-timeline.scss */
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

/* line 97, ../sass/layout/_vertical-timeline.scss */
.cd-timeline-block:first-child {
  margin-top: 0;
}

/* line 100, ../sass/layout/_vertical-timeline.scss */
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  /* line 104, ../sass/layout/_vertical-timeline.scss */
  .cd-timeline-block {
    margin: 4em 0;
  }

  /* line 107, ../sass/layout/_vertical-timeline.scss */
  .cd-timeline-block:first-child {
    margin-top: 0;
  }

  /* line 110, ../sass/layout/_vertical-timeline.scss */
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}
/* line 115, ../sass/layout/_vertical-timeline.scss */
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #dbd9ba, inset 0 2px 0 rgba(0, 0, 0, 0), 0 3px 0 4px rgba(0, 0, 0, 0);
  background-color: #F8F7E0;
}

/* line 125, ../sass/layout/_vertical-timeline.scss */
.cd-timeline-img i {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  left: 45%;
  top: 45%;
  margin-left: -12px;
  margin-top: -12px;
  font-size: 30px;
}

@media only screen and (min-width: 1170px) {
  /* line 138, ../sass/layout/_vertical-timeline.scss */
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }

  /* line 147, ../sass/layout/_vertical-timeline.scss */
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }

  /* line 150, ../sass/layout/_vertical-timeline.scss */
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}
@-webkit-keyframes cd-bounce-1 {
  /* line 159, ../sass/layout/_vertical-timeline.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  /* line 164, ../sass/layout/_vertical-timeline.scss */
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  /* line 169, ../sass/layout/_vertical-timeline.scss */
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes cd-bounce-1 {
  /* line 174, ../sass/layout/_vertical-timeline.scss */
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  /* line 179, ../sass/layout/_vertical-timeline.scss */
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  /* line 184, ../sass/layout/_vertical-timeline.scss */
  100% {
    -moz-transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  /* line 189, ../sass/layout/_vertical-timeline.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  /* line 198, ../sass/layout/_vertical-timeline.scss */
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  /* line 207, ../sass/layout/_vertical-timeline.scss */
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

/* line 215, ../sass/layout/_vertical-timeline.scss */
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #E9E9E9;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}

/* line 223, ../sass/layout/_vertical-timeline.scss */
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 228, ../sass/layout/_vertical-timeline.scss */
.cd-timeline-content h2 {
  color: #303e49;
}

/* line 231, ../sass/layout/_vertical-timeline.scss */
.cd-timeline-content p {
  font-size: 13px;
  font-size: 0.8125rem;
}

/* line 236, ../sass/layout/_vertical-timeline.scss */
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

/* line 242, ../sass/layout/_vertical-timeline.scss */
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

@media only screen and (min-width: 768px) {
  /* line 253, ../sass/layout/_vertical-timeline.scss */
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  /* line 257, ../sass/layout/_vertical-timeline.scss */
  .cd-timeline-content p {
    font-size: 24px;
    font-size: 1.5rem;
  }

  /* line 261, ../sass/layout/_vertical-timeline.scss */
  .cd-timeline-content .cd-read-more {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 267, ../sass/layout/_vertical-timeline.scss */
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }

  /* line 272, ../sass/layout/_vertical-timeline.scss */
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }

  /* line 278, ../sass/layout/_vertical-timeline.scss */
  .cd-timeline-content .cd-read-more {
    float: left;
  }

  /* line 282, ../sass/layout/_vertical-timeline.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }

  /* line 285, ../sass/layout/_vertical-timeline.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }

  /* line 293, ../sass/layout/_vertical-timeline.scss */
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }

  /* line 296, ../sass/layout/_vertical-timeline.scss */
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
    background-color: #F0F0F0;
  }
}
@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  /* line 307, ../sass/layout/_vertical-timeline.scss */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  /* line 314, ../sass/layout/_vertical-timeline.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  /* line 319, ../sass/layout/_vertical-timeline.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  /* line 324, ../sass/layout/_vertical-timeline.scss */
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes cd-bounce-2 {
  /* line 329, ../sass/layout/_vertical-timeline.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  /* line 334, ../sass/layout/_vertical-timeline.scss */
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  /* line 339, ../sass/layout/_vertical-timeline.scss */
  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  /* line 344, ../sass/layout/_vertical-timeline.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  /* line 353, ../sass/layout/_vertical-timeline.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  /* line 362, ../sass/layout/_vertical-timeline.scss */
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  /* line 371, ../sass/layout/_vertical-timeline.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  /* line 376, ../sass/layout/_vertical-timeline.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  /* line 381, ../sass/layout/_vertical-timeline.scss */
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes cd-bounce-2-inverse {
  /* line 386, ../sass/layout/_vertical-timeline.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  /* line 391, ../sass/layout/_vertical-timeline.scss */
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  /* line 396, ../sass/layout/_vertical-timeline.scss */
  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  /* line 401, ../sass/layout/_vertical-timeline.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  /* line 410, ../sass/layout/_vertical-timeline.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  /* line 419, ../sass/layout/_vertical-timeline.scss */
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
